.toggle-task-expand {
    margin-right: 10px;
    padding: 0 5px;
    cursor: pointer;
}

.task-description {
    padding: 15px;
}

.delete-task {
    color: red;
    padding-left: 10px;
    margin-left: 5px;
    display: inline-block;
    border-left: 2px solid #C7CACA;
    cursor: pointer;
}

.task-list-even {
    background-color: #bce8f1;
}

.task-list-odd {
    background-color: #f7ecb5;
}

.completed {
    background-color: #99dd99;
}

.completed .text {
    text-decoration: line-through;
}

.glyphicon{
    cursor: pointer;
}

.glyphicon-ok{
    color:green;
}


textarea{
    width:100%;
}