.toggle-task-expand {
    margin-right: 10px;
    padding: 0 5px;
    cursor: pointer;
}

.task-description {
    padding: 15px;
}

.delete-task {
    color: red;
    padding-left: 10px;
    margin-left: 5px;
    display: inline-block;
    border-left: 2px solid #C7CACA;
    cursor: pointer;
}

.task-list-even {
    background-color: #bce8f1;
}

.task-list-odd {
    background-color: #f7ecb5;
}

.completed {
    background-color: #99dd99;
}

.completed .text {
    text-decoration: line-through;
}

.glyphicon{
    cursor: pointer;
}

.glyphicon-ok{
    color:green;
}


textarea{
    width:100%;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon>.glyphicon {
    position: absolute;
    pointer-events: none;
}

/* align icon */
.right-addon > .glyphicon { right: 20px; top:10px;}

/* add padding  */
.right-addon input { padding-right: 20px; }

.controls{
    margin-top: 8px;
}

input[type=checkbox]{
    cursor: pointer;
}