<h2>Task list</h2>
<div ng-repeat="task in tasks" class="row">
    <div class="col-md-1">
        <span class="caret" ng-click="task.expanded=!task.expanded"></span>
        <span><input type="checkbox" ng-click="task.completed!=task.completed"/></span>
    </div>
    <div class="col-md-6">
        {{task.name}}
    </div>
    <div class="col-md-2">
        {{task.deadline|date}}
    </div>
    <div class="col-md-3">
        <span class="glyphicon glyphicon-pencil"></span>
        <span>&times;</span>
    </div>
    <div class="col-md-12" ng-if="task.expanded">
        {{task.description}}
    </div>
</div>