<h2>Edit task {{task.id}}: </h2>
<div class="row list-group-item">
    <div class="col-md-1 controls">
        <span><input type="checkbox" ng-checked="task.status==='DONE'" ng-click="completeTask(task)" ng-disabled="task.status==='DONE'"/></span>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" ng-model="task.name" placeholder="Enter task name"/>
    </div>
    <div class="col-md-3 inner-addon right-addon">
        <span class="glyphicon glyphicon-calendar"></span>
        <input type="text"
               class="form-control date"
               id="dateFroms"
               placeholder="Pick date"
               datepicker-popup="MMM dd, yyyy"
               ng-click="dateFrom=true"
               ng-model="task.deadline"
               min-date="{{today}}"
               max-date="'2015-06-22'"
               is-open="dateFrom"
               ng-required="true"
               close-text="Close" >
    </div>
    <div class="col-md-2 controls">
        <span class="glyphicon glyphicon-ok" ng-click="saveTask(task)"></span>
        <span class="delete-task glyphicon glyphicon-remove" ng-click="deleteTask(task)"></span>
    </div>
    <div class="col-md-12 task-description">
        <textarea ng-model="task.description" placeholder="Description" class="form-control"></textarea>
    </div>
</div>
